.CreditCard {
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  margin: 15px 0;
  font-size: 1.1rem;
}

.type {
  text-align: right;
  font-size: 1.4rem;
}

.number {
  font-size: 1.6rem;
  margin: 20px 0;
}

.details {
  display: flex;
  justify-content: space-between;
}

.owner {
  margin-top: 10px;
}
