.single-color-picker {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.single-color-picker input {
  width: 60px;
  margin-left: 5px;
  margin-right: 10px;
}

.color-box {
  width: 50px;
  height: 30px;
  border: 1px solid #000;
}
