.rgb-color-picker {
  margin: 10px 0;
}

.combined-color-box {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-weight: bold;
  color: #000;
}
