.driver-card {
  background-color: #455eb5;
  color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.driver-card img {
  width: 120px;
  border-radius: 50%;
  margin-right: 20px;
}
