.DriverCard {
  background-color: #455eb5;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin: 15px 0;
}

.DriverCard img {
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
